# 编译输出
/dist
/build

# 依赖目录
/node_modules

# 环境变量
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 测试覆盖率
/coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 操作系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp

# pnpm
.pnpm-store/
